*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: Arial;
}

header{
	background-color: #F3862C;
	padding: 20px;
	text-align: center;
	font-size: 30px;
	font-weight: lighter;
	line-height: 0	;
}

h1{
  font-size: 4.5vw;
}
.flex-sides ul{
	list-style-type: none;
}

.flex-sides li{
	display: inline-block;
}


.seleccion label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.seleccion label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}


.seleccion label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #F3862C;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.lugares label img{
  height: 250px;
  width: 250px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

input[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radioBtn input[type=radio] + img {
  cursor: pointer;
}

.radioBtn input[type=radio]:checked + img {
  outline: 5px solid #F3862C;
}

input[type="checkbox"][id^="rol"] {
  display: none;
}

input[type="checkbox"]:checked + label {
  border-color: #ddd;
}

input[type="checkbox"]:checked + label:before {
  content: "✓";
  background-color: #F3862C;
  transform: scale(1);
}

input[type="checkbox"]:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #F3862C;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: larger;
}

textarea {
    width: 100%;
    height: 370px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-size: 1em; 
}

footer{
	padding: 20px;
    text-align: center;
    background: #ddd;
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.flex-sides{
	flex: 50%;
	padding: 20px;
	font-size: 20px;
	/*background-color: blue;*/
}

.form{
	text-align: left;
	/*background-color: green;*/
}

.olas{
  background-position: center;
  transition: background 0.8s;
}

.olas:active {
  background-size: 100%;
  transition: background 0s;
}

#enviar{
	text-align: center;
}

#envio:hover{
  background: #F2974D radial-gradient(circle, transparent 1%, #F2974D 1%) center/15000%;
}

#envio:active{
  background-color: #eaa977;
}


#puntocoma{
    background-color: #f22121;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: larger;
    display: none;
}

#puntocoma:hover{
  background: #f44646 radial-gradient(circle, transparent 1%, #f44646 1%) center/15000%;
}

#puntocoma:active{
    background-color: #f46e6e;
}
/*SLIDESHOW*/

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 20%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}